.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }

.navbar-toggler {
    color: rgb(213, 192, 255);
    border-color: rgb(184, 150, 252);
}

.elementToFadeInAndOut {
    opacity: 1;
    animation: fade 1s ease;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.vcontainer {
    background-color: rgb(94, 23, 235);
    height: 60px;
}

.vcontainpadding {
    margin-left: 10%;
}

.vcolor {
    background-color: rgb(94, 23, 235);
}

.vbtnnavcolor {
    color: white;
    background-color: rgb(94, 23, 235);
}

.vbtnnavcolor:hover {
    color: white;
    background-color: rgb(49, 8, 132);
}

.vbtnnavcolor1 {
    color: white;
    background-color: rgb(49, 8, 132);
}

.vbtnnavcolor1:hover {
    color: white;
    background-color: rgb(94, 23, 235);
}

.vbtntitle {
    border-color: rgb(94, 23, 235);
    color: rgb(94, 23, 235);
}

.vbtntitle:hover {
    color: white;
    background-color: rgb(94, 23, 235);
}

.vtitlep {
    color: rgb(49, 8, 132);
}

.vtitlep1 {
    color: rgb(94, 23, 235);
}

.vtitlepicture {
    height: 400px;
    border-radius: 10px;
}

.vtitleimgbackground{
    padding-top: 11%;
    border-radius: 10%;
    height: 500px;
    width: 400px;
    background: linear-gradient(90deg, white 0%,white 35%, rgba(98,47,217,1) 35%, rgba(102,102,255,1) 68%, rgba(0,212,255,1) 100%);
    z-index: -100;
}

.veduline {
    height: 5px;
    width: auto;
    background-color: rgb(49, 8, 132);
    border-radius: 5px;
}

.veducard {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(94, 23, 235);
}

.vedubg {
    background-color: #ededed;
}

.vskillcenter {
    align-items: center;
}

.vskillcolor1 {
    background-color: rgb(227, 214, 253);
}

.vskillcolor1:hover {
    background-color: rgb(154, 111, 240);
}

.vskillcolor2 {
    background-color: rgb(213, 192, 255);
}

.vskillcolor2:hover {
    background-color: rgb(154, 111, 240);
}

.vskillcolor3 {
    background-color: rgb(201, 177, 248);
}

.vskillcolor3:hover {
    background-color: rgb(154, 111, 240);
}

.vskillcolor4 {
    background-color: rgb(227, 214, 253);
}

.vfooterbg {
    background-color: rgb(49, 8, 132);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.aradius {
    border-radius: 5px;
}

.acontactsvg {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.alogosvg {
    width: 60px;
    height: 60px;
}

@media only screen and (max-width: 1000px) {
    .vtitleimgbackground {
        width: 400px;
        padding-left: 14%;
    }

    .vcontainpadding {
        margin-left: 1%;
    }
}

@media only screen and (max-width: 440px) {
    .vtitleimgbackground {
        width: 350px;
        height: 400px;
        padding-left: 10%;
    }
    
    .vtitlepicture {
        height: 340px;
        width: 250px;
    }
}

@media only screen and (max-width: 400px) {
    .vtitleimgbackground {
        width: 290px;
        height: 360px;
        padding-left: 6%;
    }
    
    .vtitlepicture {
        height: 300px;
        width: 210px;
        margin-left: 8%;
    }
}


@media only screen and (max-width: 490px) {
    .acontactsvg {
        height: 80px;
        width: 80px;
    }

    .alogosvg {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (max-width: 736px) { 
    .vskilltext {
        font-size: x-large;
    }

    .vskilltext1 {
        font-size: larger;
    }
}